<div class="center">
    <div class="content">
        <div class="row verPadded">
            <div class="left padded">
                <h1> Desarrollo con pasión aplicaciones y sitios web para personas.</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologías y mejorando mis habilidades. Esta web la construí desde cero con Python y Flask.</p>
            </div>
            <div class="right padded">
                <h1>Dime lo que necesites, yo lo haré con gusto.</h1>
                <p>Sólo envíame un correo <a class="orange" href="#contacto">dando click aquí</a></p>
            </div>
        </div>
    </div>
</div>

